
.img-fluid{
		  
		  
		   width:50;
		   margin-top:1%;
		   
	   }
	    @media screen and (min-width: 480px){
.example{
margin-top:-310px;
margin-left:250px;
font-size:40px;
font-family:italic;
text-decoration:none;
}
	  }	
@media screen and (min-width: 480px){
	.img-fluid1
	{
	
		margin-top:5%;
		
	}
}
	@media screen and (min-width: 480px){
.pic1{

margin-top:-320px;
margin-left:90px;
}	
	}
	@media screen and (min-width: 480px){
	.d5
	{
		position:relative;
		margin-left:100px;
	}
	}
	/* @media screen and (min-width: 480px){
		.d5{
			margin-top:-150px;
			margin-left:410px;
		}
	}
	@media screen and (min-width: 480px){
		.d6{
			margin-top:0px;
			margin-left:-200px;
		}
	}
	@media screen and (min-width: 480px){
		.d7{
			margin-top:20px;
			margin-left:390px;
		}
	}
	@media screen and (min-width: 480px){
		.d8{
			margin-top:0px;
			margin-left:390px;
		}
	}
	@media screen and (min-width: 480px){
		.button1{
  background-color: tomato;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1:hover{
	background-color:blue;
}
	}
	@media screen and (min-width: 480px){
		.t1{
			text-decoration:none;
		}
	}
	@media screen and (min-width: 480px){
		.t2{
			margin-left:150px;
			margin-top:-40px;
		}
	}
	@media screen and (min-width: 480px){
		.t3{
			margin-left:290px;
			margin-top:-40px;
		}
	}
	@media screen and (min-width: 480px){
		.t4{
			margin-left:10px;
			color:red;
		}
	}
	@media screen and (min-width: 480px){
		.t5{
			text-decoration:none;
			margin-left:10px;
		}
	} */
	@media screen and (min-width: 480px){
		.t6{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.t7{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.t8{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.t9{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.t10{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.t11{
			text-decoration:none;
			margin-left:10px;
		}
	}
	
	@media screen and (min-width: 480px){
		.e1{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e2{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e3{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e4{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e5{
			text-decoration:none;
			margin-left:10px;
		}
	}
	
	@media screen and (min-width: 480px){
		.e6{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e7{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e8{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e9{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e10{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e11{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e12{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e13{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e14{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e15{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e16{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e17{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e18{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e19{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e20{
			text-decoration:none;
			margin-left:10px;
		}
	}
	@media screen and (min-width: 480px){
		.e21{
			text-decoration:none;
			margin-left:10px;
		}
	}
	
	@media screen and (min-width: 480px){
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  height:440px;
  margin-top:0px;
  margin-left:37px;
}

.gallery:hover {
 background-color:red;
}
.gallery  img {
  width: 350px;
  height:280px;
  margin-left:0px;
}
	  }
	   @media screen and (min-width: 480px){
.gallery1 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  height:440px;
  margin-top:0px;
  margin-left:31px;
}

.gallery1:hover {
 background-color:red;
}
.gallery1  img {
  width: 350px;
  height:280px;
  margin-left:0px;
}

	  }
	  
	   @media screen and (min-width: 480px){
.gallery2 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  height:440px;
  margin-top:0px;
  margin-left:31px;
}

.gallery2:hover {
 background-color:red;
}
.gallery2  img {
  width: 350px;
  height:280px;
  margin-left:0px;
}

	  }
	  .googlemape{
		  width:100%;
		  height:500px;
	  }
	  
	  
	  
	  .bg-footer {
    background-color: #33383c;
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}
 
.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}
 
.footer-link a:hover {
    color: #1bbc9b;
}
 
.contact-info {
    color: #acacac;
    font-size: 14px;
}
 
.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}
 
.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}
 
.twitter {
    background-color: #55acee;
    color: #ffffff;
}
 
.google {
    background-color: #d6492f;
    color: #ffffff;
}
 
.apple {
    background-color: #424041;
    color: #ffffff;
}
 
.footer-alt {
    color: #acacac;
}
 
.footer-heading {
    position: relative;
    padding-bottom: 12px;
}
 
.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #1bbc9b;
}
 .r1{
	height:40px;
	width:50px;
}